
.btn-treehouse {
  background-color: #478B41;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 20px;
  transition: background 0.3s ease;
}

.btn-treehouse:hover {
  background-color: #61B15A;
}
